parameters:
	browserSync:
		port: null

application:
	errorPresenter: Error
	mapping:
		Front: ZdenekZahor\BmCalculator\Web\Modules\Front\*Presenter

session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no
