services:
	- ZdenekZahor\BmCalculator\Web\Router\RouterFactory::createRouter
	-
		implement: ZdenekZahor\BmCalculator\Web\Controls\BrowserSyncControl\BrowserSyncControlFactory
		arguments: [%browserSync.port%]
